/* Mobile first development */

.poster img {
    width: 100%;
}

.info {
    width: 100%;
    padding: 5px;
    vertical-align: top;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 15px;
}

.detail {
    font-size: medium;
    margin: 5px 0px;
}

.detail span {
    font-weight: bold;
    margin-right: 5px;
}

.overview {
    overflow: auto;
}


/* Use a media query to add a breakpoint at 800px: */

@media screen and (min-width: 600px) {
    .container {
        display: flex;
    }
    .poster img {
        width: 450px;
        height: 670px;
    }
    .info {
        width: calc(100% - 460px);
        margin-left: 10px;
    }
}