<div class="container" *ngIf="castInfo">
  <div class="poster">
    <img src="{{imgBaseUrl}}{{castInfo.profile_path}}" />
  </div>
  <div class="info">
    <div>
      <div class="title">
        <span>{{castInfo.name}}</span>
      </div>
      <div class="detail">
        <span>Birth Date:</span>{{castInfo.birthday | date:'dd MMM yyyy'}}
      </div>
      <div class="detail">
        <span>Also known as:</span>{{castInfo.also_known_as.join(", ")}}
      </div>
      <div class="detail">
        <span>Known for department:</span>{{castInfo.known_for_department}}
      </div>
      <div class="detail">
        <span>Place of birth</span>{{castInfo.place_of_birth}}
      </div>
      <div class="detail">
        <span>Biography:</span>
        <div class="overview">{{castInfo.biography}}</div>
      </div>
    </div>
    <app-scrollview cat="movie" [items]="castInfo.combined_credits.cast" title="Credits (cast)"></app-scrollview>
    <app-scrollview cat="movie" [items]="castInfo.combined_credits.crew" title="Credits (crew)"></app-scrollview>
  </div>
</div>