ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.settings {
  float: right;
}

li a {
  display: block;
  padding: 8px;
}

.right-menu-item {
  float: right;
}

.mat-sidenav-container {
  min-width: calc(100% - 22px);
  width: calc(100% - 22px);
  margin: 10px;
  min-height: calc(100% - 22px);
  height: calc(100% - 22px);
}

@media screen and (max-width: 600px) {
  .right-menu-item {
    float: left;
  }
  .toolbar {
    height: 100%;
  }
}