<div class="container" *ngIf="mediaInfo">
    <div class="movie-poster">
        <img src="{{imgBaseUrl}}{{mediaInfo.poster_path}}" />
    </div>
    <div class="movie-info">
        <div>
            <div class="movie-title">
                <span>{{mediaInfo.title}}</span>
            </div>
            <div class="movie-detail">
                <span>Release Date:</span>{{mediaInfo.release_date | date:'dd MMM yyyy'}}
            </div>
            <div class="movie-detail">
                <span>Languages:</span>{{spoken_languages}}
            </div>
            <div class="movie-detail">
                <span>Genres:</span>{{genres}}
            </div>
            <div class="movie-detail">
                <span>Overview:</span>
                <div class="movie-overview">{{mediaInfo.overview}}</div>
            </div>
        </div>
        <div>
            <div class="movie-detail"><span>Cast</span></div>
            <div class="scrollable">
                <div *ngFor="let cast of mediaInfo.credits.cast;">
                    <div class="info">
                        <a routerLink="/cast/{{cast.id}}">
                            <img class="poster" src="{{castImgBaseUrl}}{{cast.profile_path}}" fallback="/assets/images/no-image.png" />
                        </a>
                        <div class="title">{{cast.character}}</div>
                        <div class="title">{{cast.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="movie-detail"><span>Crew</span></div>
            <div class="scrollable">
                <div *ngFor="let crew of mediaInfo.credits.crew;">
                    <div class="info">
                        <a routerLink="/cast/{{crew.id}}">
                            <img class="poster" src="{{castImgBaseUrl}}{{crew.profile_path}}" fallback="/assets/images/no-image.png" />
                        </a>
                        <div class="title">{{crew.department}}</div>
                        <div class="title">{{crew.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="mediaInfo && mediaInfo.similar.total_results > 0">
    <div class="movie-detail"><span>Similar Movies</span></div>
    <div class="scrollable">
        <div *ngFor="let movie of mediaInfo.similar.results;">
            <div class="info">
                <a routerLink="/movie/{{movie.id}}">
                    <img class="poster" src="{{castImgBaseUrl}}{{movie.poster_path}}" fallback="/assets/images/no-image.png" />
                </a>
                <div class="title">{{movie.title}} {{movie.release_date | date:'yyyy'}}</div>
            </div>
        </div>
    </div>
</div>