/* Mobile first development */

.movie-poster img {
    width: 100%;
}

.movie-info {
    width: 100%;
}

.movie-title {
    font-size: xx-large;
    font-weight: bold;
}

.movie-detail {
    font-size: medium;
    margin: 5px 0px;
}

.movie-detail span {
    font-weight: bold;
    margin-right: 5px;
}

.movie-overview {
    overflow: auto;
}

.google-search-item {
    display: unset;
    padding: 10px 0px;
}

.google-search-item .description {
    width: 100%;
    word-wrap: break-word;
}

.google-search-result {
    display: inline-grid;
}


/* Use a media query to add a breakpoint at 800px: */

@media screen and (min-width: 600px) {
    .container {
        display: flex;
    }
    .movie-poster img {
        width: 450px;
        height: 670px;
    }
    .movie-info {
        width: calc(100% - 460px);
        margin-left: 10px;
    }
    .google-search-item {
        display: inline-flex;
        padding: 10px 5px;
    }
}