<div class="search">
    <input type="text" [(ngModel)]="searchText" placeholder="Search ..">
    <img src="assets/images/searchicon.png" (click)="search()">
</div>
<div *ngFor="let category of categories; index as i;">
    <div class="cat-label">{{category.title}}</div>
    <div class="scrollable">
        <div *ngFor="let item of category.items;">
            <div *ngIf="!isWatched(item.id) && item.poster_path">
                <div class="movie-info">
                    <button class="hide-button" (click)="watched(i, item.id)">X</button>
                    <a routerLink="/movie/{{item.id}}">
                        <img class="movie-poster" src="{{imgBaseUrl}}{{item.poster_path}}" />
                    </a>
                    <div class="movie-title">{{item.title}} {{item.release_date | date:'LLL yyyy'}}</div>
                </div>
            </div>
        </div>
        <button *ngIf="category.index < (category.totalPages - 1) && !category.isLoading" (click)="loadMore(i)" class="load-more">></button>
    </div>
</div>