<form class="search" (submit)="search()">
  <img src="assets/images/searchicon.png">
  <input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search ..">
</form>
<div class="filter" *ngIf="searchResults.length > 0">
  <div *ngFor="let search of searchResults; index as i;">
    <app-scrollview (removeEvent)="removeSearchHandler" [filter]="search"></app-scrollview>
  </div>
</div>
<div class="filter" *ngFor="let category of categories; index as i;">
  <app-scrollview (removeEvent)="removeCatHandler" [filter]="category"></app-scrollview>
</div>