<form class="search" (submit)="search()">
  <img src="assets/images/searchicon.png">
  <input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search ..">
</form>
<div class="filter" *ngIf="searchResults.length > 0">
  <div *ngFor="let search of searchResults; index as i;">
    <app-scrollview (removeEvent)="removeSearchHandler($event)" [title]="search.title" [items]="search.items"></app-scrollview>
  </div>
</div>
<div class="filter" *ngFor="let filter of filters">
  <app-scrollview [title]="filter.title" [opt]="filter.discoverOption" [cat]="filter.category"></app-scrollview>
</div>
<div #loadMore><span *ngIf="storage.genres.length > filterStart">loading....</span></div>