/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-content {
    overflow: unset;
}

.filter .label {
    font-size: x-large;
    margin: 15px 0px 0px 5px;
    font-weight: bolder;
}

.filter .label button {
    float: right;
}

.filter .scrollable {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-flex;
}

.filter .scrollable .info {
    padding: 5px;
    vertical-align: top;
    width: 100%;
    margin: unset;
}

.filter .scrollable .info .poster {
    width: 150px;
    height: 220px;
    float: left;
}

.filter .scrollable .info .title {
    white-space: normal;
    width: 150px;
    font-size: medium;
    font-weight: normal;
}

.filter .scrollable .info button {
    margin-left: -24px;
}

.filter .scrollable .more {
    height: 40px;
    margin: 100px 0px;
    border-radius: 40px;
    width: 40px;
    background: gray;
    color: white;
    border: 1px solid gray;
}