<div *ngIf="showForm">
    <form [formGroup]="fg">
        <div class="row-100" *ngFor="let field of formFields">
            <div class="col-25">{{field.label}}</div>
            <div class="col-50">
                <input type="date" *ngIf="field.type == 'date'" formControlName="{{field.key}}" />
                <input type="text" *ngIf="field.type == 'text'" formControlName="{{field.key}}" />
                <select *ngIf="field.type == 'choice' && isArray(field.set)" formControlName="{{field.key}}" (change)="updateForm()">
                    <option></option>
                    <option *ngFor="let k of field.set">{{k}}</option>
                </select>
                <select *ngIf="field.type == 'choice' && !isArray(field.set)" formControlName="{{field.key}}">
                    <option></option>
                    <option *ngFor="let k of Object.keys(field.set)" value="{{k}}">{{field.set[k]}}</option>
                </select>
                <select *ngIf="field.type == 'multi-choice'" multiple formControlName="{{field.key}}">
                    <option></option>
                    <option *ngFor="let k of Object.keys(field.set)" value="{{k}}">{{field.set[k]}}</option>
                </select>
            </div>
            <div class="col-25">{{field.desc}}</div>
        </div>
        <div class="row-100">
            <button (click)="addFilter();showForm=false;">Add Filter</button>
        </div>
    </form>
</div>
<div class="label">My Filters<button (click)="showForm=true">+</button></div>
<div style="overflow-x:auto;">
    <table>
        <tr>
            <th>Filter</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let filter of discoverMovieFilters; index as i;">
            <td>{{filter._title}}</td>
            <td><button (click)="removeFilter(i)">Delete</button></td>
        </tr>
    </table>
</div>
<div class="row-100">
    <div class="col-100">
        <button (click)="saveSettings()">Save Preferences</button>
    </div>
</div>